.App {
  text-align: center;
}

.title{
  padding: 2rem; 
}

.answerGuesses{
padding: 2rem ; 
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons{
  display: flex;
  flex-direction: row;
  width: 80%; 
  margin: 4rem auto; 
  justify-content: space-evenly;
}

.page{
  min-height: 100vh ;
}

.playerTable{
  display:flex;
  width: 80%;
  margin: 0 auto; 
  padding: 0.5rem; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form{
  border: 4px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;  
}

label{
  font-weight: 700;
  width: 90px;
}

input {
  width: 200px;
  padding: 8px; 
  margin-left: 5px;
}

