.App {
  text-align: center;
}

.title{
  margin: 4rem auto; 
}

.answerGuesses{
margin: 4rem auto; 
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons{
  display: flex;
  flex-direction: row;
  width: 80%; 
  margin: 4rem auto; 
  justify-content: space-evenly;
}